@import "./constants";

.top-sticked-menu {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding-left: 5rem;
}

.fixed-side-menu {
  position: fixed;
  z-index: 10;
  top: 4rem;
  left: 0;
}

.songs-feed-container {
  margin-top: $top-margin-for-view-containers;
  padding-left: 2rem;
  padding-right: 2rem;
}

#songs-feed {
  .single-song-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  div[class^="audioElements__commentsWrapperBackground"], div[class*=" audioElements__commentsWrapperBackground"] {
    //background-image: none !important;
  }

  //div[class^="audioComponents"], div[class*=" audioComponents"] {
  //  display: inline-flex;
  //}
  //
  //.ui.card {
  //  display: inline-flex;
  //}
}

.song-show-more-info {
  margin-left: 1rem;
  font-size: 9pt;
}

.player-wrapper-sticked {
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 100;
  background: #A0A0A0;
  transition: position 0.5s ease;
}

.player-wrapper-unsticked {
  transition: position 0.5s ease;
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column {
  &.play-button-column {
    text-align: center;
    //display: inline-flex;
  }
}

.ui.button {
  &.play-button {
    height: 84px;
    width: 84px;
  }
}

.bars-wrapper {
  width: 82px;
  height: 82px;
  background: #ffffff;
  border: 2px #22be34 solid;
  border-radius: 50%;
  margin-left: -5px;

  display: inline-block;

  &:hover {
    cursor: pointer;
    background-color: #22be34;

    .bar {
      background-color: #ffffff;
    }
  }
}

.ui.label, .ui.labels .label {
  margin-top: .5rem;
}

.author-badge-content {
  text-align: center;
}

@media (max-width: 1000px) {
  .ui.button {
    &.play-button {
      height: 70px;
      width: 70px;
    }
  }
}

@media (max-width: 1440px) {
  .ui.button {
    &.add-to-playlist-button {
      margin-top: .5rem;
      margin-right: 3%;
    }
  }
}

div.notyf {
  top: 55px;
}