.top-sticked-menu {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.fixed-side-menu {
  position: fixed;
  z-index: 10;
  top: 4rem;
  left: 0;
}

.feed-container {
  margin-top: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#songs-feed {
  .single-song-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  div[class^="audioElements__commentsWrapperBackground"], div[class*=" audioElements__commentsWrapperBackground"] {
    //background-image: none !important;
  }

  //div[class^="audioComponents"], div[class*=" audioComponents"] {
  //  display: inline-flex;
  //}
  //
  //.ui.card {
  //  display: inline-flex;
  //}
}

.song-show-more-info {
  margin-left: 1rem;
  font-size: 9pt;
}
