body > div,
body > div > div,
body > div > div > div.login-form {
  //height: 100%;
}

div.login-form {
  margin-top: 10%;
}

.ui.modal.transition.visible.active {
  height: auto;
}

.ui.button.confirm-validation-code-button {
  //margin-left: 5rem;
}

.verification-error-list {
  .ui.steps .step.active {
    .title {
      color: rgb(145, 45, 43);
    }
  }
}

.ui.modal.transition.visible.active.redirect-in-progress-modal-content {
  height: 50%;
  font-size: 25px;
}