$text-blocks-padding: 16px;

.song-details-container {
  margin-top: 7rem;
}

.txt-center {
  text-align: center;
}

.song-name-header {
  text-align: center;
}

.song-details-go-back {
  padding-right: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #4183c4;

  &:hover {
    cursor: pointer;
    color: darken(#4183c4, 20%);
  }
}

.song-details-go-back-btn {
  &.ui.basic.blue.button, &.ui.basic.blue.buttons .button {
    margin-right: 2rem;
  }
}

.song-cover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.song-title-header {
  &.ui.header {
    margin-top: 1rem;
  }
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.song-description {
  margin-top: 2.5rem;
  margin-bottom: 1rem;

  background-color: #ededfd;
  padding: 1rem;
  border-radius: $text-blocks-padding;
}

.description-header {
  margin-top: 1rem;
}

.song-lyrics {
  background-color: #e2ecf4;
  padding: 1rem;
  border-radius: $text-blocks-padding;

  margin-bottom: 3rem;
}