.song-details-container {
  margin-top: 7rem;
}

.txt-center {
  text-align: center;
}

.song-name-header {
  text-align: center;
}

.song-details-go-back {
  margin-right: 1.5rem;
  color: #4183c4;

  &:hover {
    cursor: pointer;
    color: darken(#4183c4, 20%);
  }
}