@import "./constants";

.upload-container {
  margin-top: 1rem;
}

.upload-page {
  margin-top: $top-margin-for-view-containers;

  .new-song-header{
    text-align: center;
  }
}

.upload-button {
  text-align: center;
}

.file-dropzone {
  margin: 0 auto;
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px dashed rgb(102, 102, 102);
  border-radius: 5px;
}

.file-dropzone-wrapper {
  text-align: center;
}

.upload-button {
  &.ui.button {
    margin-bottom: 1rem;
  }
}

.upload-segment {
  text-align: center;
}

.list-of-files-to-upload {
  margin-top: 1rem;
  display: inline-block;
}

.submit-button-wrapper {
  margin-top: 1rem;
}

div.react-tagsinput {
  margin-top: 1rem;
}